@font-face
{ 
    font-family: 'Roboto-Thin';
    src: url('../../font/Roboto-Thin.ttf');
    font-display: swap;
}
.Roboto-Thin
{
    font-family: "Roboto-Thin";

}
@font-face
{ 
    font-family: 'Roboto-Light';
    src: url('../../font/Roboto-Light.ttf');
    font-display: swap;
}
.Roboto-Light
{
    font-family: "Roboto-Light";

}
@font-face
{ 
    font-family: 'Roboto-Medium';
    src: url('../../font/Roboto-Medium.ttf');
    font-display: swap;

}
.Roboto-Medium
{
    font-family: 'Roboto-Medium';

}
@font-face
{ 
    font-family: 'Shrikhand-Regular';
    src: url('../../font/Shrikhand-Regular.ttf');
    font-display: swap;
}

.Shrikhand-Regular
{
    font-family: " Shrikhand-Regular";
}
$loader-dur: 2s;
$body-delay: $loader-dur;
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
.header {
  display: flex;
  &__logo {
    padding-left: 35%;
    padding-right: 38%;
    .photo {
        width: 120%;
        margin-top: 20px;
        @media all and (max-width: 900px) {
          width: 150%; 
        }
        @media all and (max-width:600px) {
          width: 250%; 
          position:relative;
          right:50%;
        }
 }
}
 &__icon { 
     position:relative;
     left:4%;
     top: 30px;
     list-style-type: none;
     font-size: 150%;
     .flèche {
        text-decoration: none;
        color: black;  
    }
  }
}
.image {
margin-top: 20px;
width: 99.3%;
height: 380px;
object-fit: cover;
}
.menu {
    width: 98.5%;
    display: block;
    background-color: rgb(248, 248, 248) ;
    border-radius: 60px 60px 0px 0px;
    position: absolute;
    top: 410px;
    @media all and (max-width: 900px) {
      width: 97.6%;
     } 
    &__titre {
      display:flex;
      padding-top: 30px;
      .heartempty {
       font-size: 2em;  
       position: relative;   
       top: 25px; 
       color: gray;
       @media all and (max-width: 900px) {
        width: 15%;
       } 
     }
      .titre1 {
       width:93%;
       margin-left: 2%;
       font-family: "Shrikhand-Regular";
       @media all and (max-width: 1100px) {
            width: 89%;
            
      }
      @media all and (max-width: 700px) {
        width: 80%;  
     }  
   }
 }
}
h4 {
    color: gray;
    font-family: "Roboto-Light";
    border-bottom: 2px solid $color-tertiary;
    width: 35px;
    padding-bottom: 2px;
}
.entrées{
     width: 98.6%;
     padding-left: 2%; 
  }
  .block {
      display: flex;
      @media all and (max-width: 991px) {
        
        display: flex;
        flex-direction: column;
       }
    &__btn {
     display: flex;
     background-color: white;
     width: 31%;
     border-radius: 30px;
     font-size: 1.3em;
     text-align: left;
     border: none;
     box-shadow: 6px 6px 6px lightgray;
     cursor: pointer;
     margin-right: 2%;
     font-family: "Roboto-Medium";
     @media all and (max-width: 991px) {
      width: 95%;
      margin-bottom: 30px;
      height: 127px;
     }
     
      &:hover {
       .iconbouton {
          width: 9rem;
          opacity: 1;
          @media all and (max-width: 991px) {
            width: 9rem;
          }
            .fa-check-circle {
              opacity: 1;
              transform:rotate(0deg);
      }
    }
          .block__btn--paragraphe2{
          transform:translateX(-50%);
        }
      
     }
     &--paragraphe {
     line-height: 2em;
     width: 75%;
     margin-left: 20px;
     margin-right: 5%;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     @media all and (max-width: 991px) {
      width: 85%;
    }
    }
    &--paragraphe2 {
       position: relative;
       top: 50px;
      transform:translateX(0);
      transition-duration: 300ms;
       }
      .iconbouton {
       height: 101%;
       position: relative;
       left:8px;
       border-radius: 0px 30px 30px 0px;
       background-color: #99e2d0;
       width: 1px;
       display: flex;
       align-items: center;
       justify-content: center;
       transition-duration: 1s;
       transform-origin: right;
       opacity: 0;
       @media all and (max-width: 991px) {
         height: 127px;
         width: 2px;
       }
       .fa-check-circle {
          color: white;
          border-radius: 50%;
          font-size: 1.5em;
          background-color: #99e2d0;
          transition-duration: 0.5s;
          transform:rotate(180deg);
         
       }
      
      }
  }
}

